body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main{
  max-width: 100vw;
  overflow: hidden;
}

.Nav{
  height: 11vh;
  min-height: 50px;
  color: white;
  background-color: #3D3737;
  max-width: 100vw;
}

.brand{
  display: none;
  padding-top: 1vh;
  text-align: center;
}

.brand h2{
  font-size: 3vw;
}

.tab{
  padding-top: min(6vh,15px);
  width : 25%;
  text-align: center;
}

.tab:hover{
  color : lightgray;
  cursor: pointer;
}

.active{
  background-color: #766262;
}

.tab h5{
    font-size: min(8vh,22px);
}

a {
  text-decoration: none;
  color: #FFF;
}
a:hover {
   text-decoration: none;
  color: #FFF;
}

@media screen and (min-height: 500px) and (min-width: 800px){

  .Nav{
    height: 11vh;
    min-height: 50px;
  }

  .brand{
    display: block;
  }

  .tab{
    width : 12.5%;
  }

  .tab{
    padding-top: min(6vh,22px);
  }
}